
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a192f;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 90px;
  background-color: #112240;
  position: relative;
}



.menu-icon {
  display: none;
}



.nav-elements ul {

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #64ffda;
  text-decoration: none;

}

.nav-elements ul a.active {
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #64ffda;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #112240;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .nav-elements ul {
    padding-top: 40px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}